/* Elementos do Arodu:

         1. Aside*/

            .asM a{
                margin-left: 2%;
                color: #F7E7CE;
            }

            .asM li{
                margin-bottom: 5%;
                list-style: none;
            }

            .asM i{
                color:#F7E7CE;
            }

         /* 2. Content */

            .conte {
                background-color: #ffffff;
                padding: 0%;
                margin: 0%;
                min-height:150vh;
            }

      /* 3. Footer */

            .fooM a{
                color: #CF6856;
            }

            footer {
                height: auto;
                text-align: center;
                padding: 30px;
                background-color: #f7e7ce;
                color: #7a3e26;
                justify-content: center;
            }

     /* 4. Header */

            .heaM i{
                color: #CF6856;
            }

            .main-header {
                background-color: #f7e7ce;
            }

     /* 5. Sidebar */

            .sidME .prim{
                color: #F7E7CE;
            }

            .sidME .seg{
                color: #FFFFFF;
            }

            .sidME .terc{
                color: #E4E4E2;
            }

            .info a{
                color: #F7E7CE;
              }

            .info a:hover{
                color: #CF6856;
              }

            .user-panel{
                color:  #E1E7E0;
                overflow: auto;
            }

            .main-sidebar {
                background-color: #7a3e26;
            }

            .control-sidebar {
                background-color: #7a3e26;
            }

            .imgS {
                max-width: 100%;
            }

     /* 6. Layout 2 */

            .alert-danger {
                background-color: #cf6856;
                border: #cf6856 2px solid;
                color: white;
            }

            .alert-success {
                background-color: #7a3e26;
                border: #7a3e26 2px solid;
                color: white;
            }

            .imgL2{
                max-width: 90%;
                padding-bottom: 0%;

              }

            .login-box{
                margin-top: 0%;
            }

/* Elementos do Projeto:

        1. ADDs & Edits:*/

            .carADD{
                border-radius: 20px; width: 80%
            }

            .carbADD{
                border-radius: 20px 20px 0px 0px ;
            }

            .carfADD{
                border-radius: 0px 0px 20px 20px;
            }

            .btnADD {
                background-color: green;
                color: white;
                border: 1px solid green;
            }

            .btnADD:hover {
                background-color: white;
                color: green;
                border: 1px solid green;
            }

            .btnADD:focus {
                background-color: green;
                color: white;
                border: 1px solid green;
            }

            .carfADD .btn-secondary{
                background-color: green;
                color: white;
                border: 1px solid green;
            }

            .carfADD .btn-secondary:hover {
                background-color: white;
                color: green;
                border: 1px solid green;
            }

            .carfADD .btn-secondary:focus {
                background-color: green;
                color: white;
                border: 1px solid green;
            }

            @media (max-width: 620px) {
                .carADD {
                position: absolute;
                margin-left: -77px;
                min-width: 90%;
                }

            }

     /* 1.1 ADD de Lançamentos:*/

            @media (max-width: 620px) {
                .carlADD {
                    position: absolute;
                    margin-left: -77px;
                    min-width: 90%;
                }

                .tipo {

                    min-width: 275px;
                }

                .linADD {
                    min-width: 2px;
                    min-height: 2px;
                    margin: 0px;
                }
            }

            @media (max-width: 370px) {

                .linADD {
                    display: none;

                }

                .bshADD {
                    display: flex;
                    justify-content: space-between;
                }

                .dataADD, .grupo {
                    width: 275px;
                }

            }

            .grupo{
                text-transform: uppercase;
            }

            .s-grupo{
                color: #CF6856
            }

            .entradas,.saidas{
                text-transform: capitalize;
            }

            .contADD{
                width: 60%;
                min-width:80%;
            }

            .bshADD{
                margin: 0px; background-color: #F7E7CE;
            }

            .bscADD{
            padding: 20px;
            background-color: #7A3E26;
            }

            .bscC{
                background-color: #7A3E26;
                color: #F7E7CE
            }

            .nextADD{
                background-color: #CF6856;
                color: white;
            }

            .canADD{
                background-color: white;
                color: #CF6856;
            }

            .canADD:hover{
                background-color: white;
                color: #CF6856;
            }

            .fooADD .btn-secondary{
                background-color: #F7E7CE;
                color: #7A3E26;
                border: #F7E7CE 1px solid;
            }

            .fooADD .btn-secondary:hover{
                background-color: #F7E7CE;
                color: #7A3E26;
                border: #F7E7CE 1px solid;
            }

     /* 2. Indexes: */

            .tdINDEX a {
                color: #7a3e26;
            }

            .theINDEX tr{
                color: #CF6856;
            }

            .tboINDEX{
                color: #7A3E26;
            }

            .dataTables_info {
                color: #cf6856;
            }

            .dataTables_empty {
                color: #7a3e26;
            }

            .dataTables_filter input:focus {
                color: #7a3e26;
                border: #cf6856 solid 2px;
            }
            .dataTables_filter input {
                color: #7a3e26;
                border: #cf6856 solid 2px;
            }

            .dataTables_filter label {
                color: #7a3e26;
            }

            .addINDEX {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .addINDEX:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .buttons-copy {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .buttons-copy:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .buttons-print {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .buttons-print:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .buttons-csv {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .buttons-csv:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .buttons-excel {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .buttons-excel:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .buttons-pdf {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .buttons-pdf:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .buttons-collection {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.7;
            }

            .buttons-collection:hover {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.7;
            }

            .vis:hover {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.9;
            }

            .vis {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.9;
            }

            .edi:hover {
                background-color: #ffffff;
                color: #7a3e26;
                border: 1px solid #7a3e26;
                opacity: 0.8;
            }

            .edi {
                background-color: #7a3e26;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.8;
            }

            .del:hover {
                background-color: #ffffff;
                color: #cf6856;
                border: 1px solid #cf6856;
                opacity: 0.9;
            }

            .del {
                background-color: #cf6856;
                color: #ffffff;
                border: 1px solid #ffffff;
                opacity: 0.9;
            }

            .child li{
                color: #7A3E26;
            }

            .child li a{
                color: #7A3E26;
            }


     /* 2.1 Home: */

            /* .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            } */

            .indH{
                border-radius: 70px;
                max-width: 100%;
            }

            .carH{
                border-radius: 20px;
                border: solid 2px #7A3E26;
            }

            .carhH{
                border-radius: 20px 20px 0px 0px ;
            }

            .carbH{
                background-color: #7A3E26;
            }

            .carttH{
                width: 50%;
                margin-left: 25%;
                color: #F7E7CE;
            }

            .cartH{
                color: #F7E7CE;font-size: 14px;
            }

            .carfH{
                border-radius: 0px 0px 14px 14px;
                background-color: #7A3E26;
            }
            .carfH p,i{
                color: #F7E7CE;
            }

     /* 2.2 Relatorios: */

     /* 2.2.1 Caixa Diário: */

            .carCD{
                border: green solid 2px;
                border-radius: 20px;
            }

            .carhCD a{
                font-size: 30px;
                color:green;
            }

            @media (max-width: 620px) {
                .carCD {
                   position: absolute;
                   margin-top: 80%;
                   min-width: 90%;
                }
            }

     /* 2.2.2 Fluxo de Caixa & Caixa Gerencial: */

            .sorting_disabled {
               color: green;
            }

     /* 3. Views: */

            .carVIEW{
                border: green solid 2px;
                border-radius: 20px;
            }

            .carVIEW2{
                border: green solid 2px;
                border-radius: 20px;
            }

            .carhVIEW{
                padding-top: 50px;
                color: green;
            }

            .carfVIEW{
                border-radius: 20px;
            }

            .carfVIEW2{
                padding-top: 20px;
            }

            .carttVIEW{
                color: green;
            }

            .relVIEW{
                border: green solid 2px;
                border-radius: 20px;
            }

            .relhVIEW{
                padding-top: 50px;
            }

            .views{
                padding: 50px 50px 50px 50px ;
            }

            @media (max-width: 620px) {
                .views{
                   padding: 0px;
                   padding-top: 50px;
                }
            }

     /* 4. Painel */

            .fgPAI{
                color: white;
            }

            .carPAI{
                border-radius: 20px;
            }

            #donutChart{
                min-height: 250px;
                height: 250px;
                max-height: 250px;
                max-width: 100%;
                border-radius: 20px;
            }

            .month label {
                color: white;
            }

            @media (max-width: 620px) {
                .carPAI {
                    position: absolute;
                    margin-top: 970px;
                    min-width: 90%;
                }
            }

